@import url("font.css");

html {}

body {
    color: #303030;
    background: #F1F1F1;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font: 13px Roboto, sans-serif;
}

b {
    font-family: "Material";
    font-weight: normal;
}



.mainForm {
    border:1px solid #EEE;
    border-radius:10px;
    padding: 15px 20px;
    margin: 20px 0px 20px 25%;
    background-color:#FFF;
}

@media screen and (max-width: 1200px) {
    .mainForm {
        margin: 20px 0px 20px 8%;
    }
}

@media screen and (max-width: 997px) {
    .mainForm {
        margin: 20px 0px;
    }
}